
<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1>Places to Explore</h1>

<div>
 <!-- this will be for the map -->
</div>

<div>
  <div class='lists'>
    <p> Hotels: </p>

    <select name="hotels" >
        {% for hotel in names[0] %}
          <option value="{{hotel.name}}" >
            {{hotel.name}}
          </option></option>
        {% endfor %}
    </select>
  </div>

  <div class='lists'
    <p> Restaurants: </p>
      <select name="restaurants" >
          {% for restaurant in names[2] %}
            <option value="{{restaurant.name}}" >
              {{restaurant.name}}
            </option> </option>
          {% endfor %}
      </select>
  </div>

  <div class='lists'>
    <p> Activities: </p>
      <select name="activities" >
          {% for activity in names[1] %}
            <option value="{{activity.name}}" >
              {{activity.name}}
            </option></option>
          {% endfor %}
      </select>
  </div>
</div>


</body>
</html>
